*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: poppins;
    font-weight: 300;
    height: 100vh;
    background-image: url(images/bg-pattern-bottom.svg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-color: hsl(185, 75%, 39%);
    background-position: bottom ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-container{
    width: 230px;
    text-align: center;
    background-color: #fff;
    border-radius: 6px;
}
.top-bg{
    width: 100%;
    height: 7rem;
}
.top-bg img{
    width: 100%;
    border-radius: 6px 6px 0px 0px;
}
.profile-pic h4{
    font-weight: normal;
    font-size: 14px;
    color: hsl(227, 10%, 46%);

}
span{
    font-weight: 300;
    margin: 0 4px;
    color: hsl(227, 10%, 46%);
}
.stats{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

p{
    color: hsl(227, 10%, 46%);
font-size: 14px;
}
.stat{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-pic img{
    margin-top: -60px;
    border-radius: 50%;
}
h3{
    color: hsl(229, 23%, 23%);
}